footer{
    height:7em;
    display:flex;
    flex-flow:row;
    justify-content:space-between;
  background:#586071;
  }
  #gauche{
    display:flex;
    flex-flow:column;
    margin:0.5em;
    margin-left:4em;
    background:#FFDDC8;
    border-radius:5%;
    text-align:center;
    align-item:center;
    justify-content:center;
    width:9em;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  
  }
  #droite{
    width:9em;
    display:flex;
    flex-flow:column;
    margin:0.5em;
    margin-right:4em;
    background:#FFDDC8;
    border-radius:5%;
    text-align:center;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  
  }
  
  .imageFooter{
    margin-top:0.4em;
    margin-left:0.8%;
    opacity:80%;
  }
  
  
  #instagram{
    opacity:70%;
  }
  #instagram:hover{
    opacity:100%;
  }
  
  #twitter{
    opacity:70%;
  }
  #twitter:hover{
    opacity:100%;
  }
  
  #discord{
    opacity:70%;
  }
  #discord:hover{
    opacity:100%;
  }
  
   footer a:link{
    text-decoration:none;
  }