/*Entiereté du header*/
header {
    background-color: #586071;
    height : 3em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:system-ui;
    font-weight: 2;
    color: white;
    list-style:none;
    margin-bottom: 1em;
}

/*Menu déroulant*/
.hamburger {
    height: 3em;
    width: 40%;
    position:relative;
    margin-left: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#pic_hamburger {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
}

#navigation {
    visibility: hidden;
    align-self:baseline;
    width: 50%;
    background-color: #586071;
}

#open {
    height: 1em;
    width: 1em;
    cursor: pointer;
    transition : transform 1s;
    position:relative;
    top: 0.12em;
}

/*Titre*/
.club_cesi {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 2em;
    width: 2em;
}

/*Barre de recherche*/
.research_pad {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
}

.btn_ok {
    margin-left: 1%;
}